
Exercise1.depend
*.o
*.depend
Exercise1.layout
Exercise1.cbp
main
output.txt
main.exe
valgrind-out.txt
Francione-Giuseppe-N86003734.7z
*.obj
*.check_cache
*.log
*.bin
*.json
*.exe
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Librerie-algoritmi-e-strutture-dati.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
/.idea/.gitignore
*.gcov
*.gcda
*.gcno
*.ninja
*.cbp
cmake-build-debug-coverage/Makefile
cmake-build-debug/Librerie_algoritmi_e_strutture_dati
cmake-build-debug/Makefile
*.cmake
cmake-build-debug-coverage/.ninja_log
cmake-build-debug-coverage/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-coverage/.ninja_deps
cmake-build-debug-coverage/CMakeCache.txt
cmake-build-debug-coverage/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-coverage/CMakeFiles/clion-environment.txt
cmake-build-debug-coverage/CMakeFiles/clion-log.txt
cmake-build-debug-coverage/CMakeFiles/TargetDirectories.txt
debug
cmake-build-debug-coverage/CMakeFiles/3.16.3/CompilerIdC/a.out
cmake-build-debug-coverage/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-coverage/CMakeFiles/3.16.3/CompilerIdCXX/a.out
cmake-build-debug-coverage/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-coverage/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/build.make
cmake-build-debug-coverage/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/depend.make
cmake-build-debug-coverage/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/flags.make
cmake-build-debug-coverage/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/link.txt
cmake-build-debug-coverage/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/progress.make
cmake-build-debug-coverage/CMakeFiles/Makefile2
cmake-build-debug-coverage/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/build.make
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/depend.internal
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/depend.make
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/flags.make
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/link.txt
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/progress.make
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
.idea/codeStyles/codeStyleConfig.xml
*.out
*.ts
cmake-build-debug-coverage/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-coverage/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-coverage/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/Librerie_algoritmi_e_strutture_dati.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/Progress/count.txt
cmake-build-debug/CMakeFiles/Progress/8
cmake-build-debug/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-coverage/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-coverage/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/Progress/11
cmake-build-debug/CMakeFiles/Progress/7
*.d
*.internal
cmake-build-debug/CMakeFiles/Progress/10
cmake-build-debug/CMakeFiles/Progress/15
cmake-build-debug/CMakeFiles/Progress/5
cmake-build-debug/CMakeFiles/Progress/3
cmake-build-debug/CMakeFiles/Progress/13
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug-coverage/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-coverage/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/workspace-DESKTOP-GIUSEPP.xml
.idea/workspace-LAPTOP-Giuseppe.xml
cmake-build-debug-coverage/CMakeCache-DESKTOP-GIUSEPP.txt
cmake-build-debug-coverage/Makefile-DESKTOP-GIUSEPP
cmake-build-debug/CMakeCache-DESKTOP-GIUSEPP.txt
cmake-build-debug/Librerie_algoritmi_e_strutture_dati-DESKTOP-GIUSEPP
cmake-build-debug/Librerie_algoritmi_e_strutture_dati-LAPTOP-Giuseppe
cmake-build-debug/Makefile-DESKTOP-GIUSEPP
CMakeCache.txt
CMakeFiles/3.24.0-rc1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.24.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
